.main {
	background: url(assets/bg.jpg) center 50% no-repeat;
	height: 85rem;
}
.main_field {
  width: 60%;
  height: 30rem;
  background-color: rgba(55, 55, 55, 0.6);
  box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.5);
  margin:15rem auto;
  padding-bottom: 2rem;
  border: 3px solid #ad7835;
  overflow-y: auto;

}
.main_btn{
	width: 25rem;
	height: 5rem;
	margin-left: 30px;
	margin-top: 2rem;
	border: 3px solid #ad7835;
	border-radius: 10px;
	background-color: rgba(0,0,0,.1);
	outline: none;
	color: #fff;
	font-size: 1.5rem;
}

.container{
	color: #fff;
	margin: auto;
}
.form{
	margin-left: 45px;
	margin-top: 20px;
}
table{
	color: #000;
}
b{
	color: #fff;
}
